body{
background-color: black;
color: white; 
font-family:"Sevillana", sans-serif; 
margin:0px; 
}
h1{
    font-size: 50px
}
p{
    font-size: 20px;
}
header{
    border-bottom: solid 2px blue;
    padding: 20px;
}